.search-text {
  display: flex;
  gap: 0;
  margin-bottom: 1.25rem;

  .full-width {
    border: 1px solid #ccc;
    border-right: none;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
  }

  button {
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: .5rem 1rem;
  }
}

.search-tax {
  align-items: flex-start; /* Ensures each <details> aligns to the top */
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
  position: relative;

  details {
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1; /* Ensures equal width but allows independent height */
    margin-bottom: 10px;
    max-height: 4rem;
    overflow: hidden;
    padding: 8px;
    transition: max-height 0.8s ease;
    width: 100%;
  }

  details[open] {
    max-height: 65rem; /* Adjust based on expected content */
  }

  summary {
    cursor: pointer;
    font-weight: bold;
  }

  .filter-options { padding-top: .5rem; }

  .filter-options label {
    display: block;
    margin-bottom: 5px;
  }
}

#resource-filter-summary {
  display: flex;
  gap: .5rem;
  margin-bottom: 1.25rem;

  p { margin: 0; }
}

#resource-results {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}


@media (min-width: 768px) { /* Tailwind 'md' breakpoint */
  #resource-results {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) { /* Tailwind 'lg' breakpoint */
  #resource-results {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
